<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{.Session.Settings.Keywords}}">
    <meta name="description" content="{{.Session.Settings.Description}}">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{tsl .Session.Lang "label.dashboard"}} - {{.Session.Settings.AppName}}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">

    <script src="/js/jquery-1.10.2.min.js"></script>

    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var goToPage = function (pageNo) {
            var url = '/admin/dashboard?page=' + pageNo;
            window.location.href = url;
        }
    </script>
</head>

<body>
<div id="wrapper">
    {{$session := .Session}}
    {{template "layout/back_nav" .}}
    {{template "layout/left" .}}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{tsl $session.Lang "label.dashboard"}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
		<div class="row">
		<div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{tsl .Session.Lang "label.statistics"}}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{tsl .Session.Lang "label.total.count"}}</th>
                                    <th>{{tsl .Session.Lang "label.month.count"}}</th>
                                    <th>{{tsl .Session.Lang "label.day.count"}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {{with .Response.Visit.GetStatistics}}
                                    <td>#</td>
                                    <td>{{.TotalCount}}</td>
                                    <td>{{.MonthCount}}</td>
                                    <td>{{.DayCount}}</td>
                                    {{end}}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
		</div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{tsl .Session.Lang "label.recent.visit"}}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div id="go"></div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>IP</th>
                                    <th>{{tsl .Session.Lang "label.user"}}</th>
                                    <th>{{tsl .Session.Lang "label.visit.time"}}</th>
                                    <th>{{tsl .Session.Lang "label.address"}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range .Response.Visit.Result}}
                                <tr>
                                    <td>#</td>
                                    <td>{{.Ip}}</td>
                                    <td>{{.User.FullName}}</td>
                                    <td>{{cnFormatTime .CreateDate}}</td>
                                    <td id="{{.SessionId}}">
                                        {{if .Ip}}
                                        <script type="text/javascript"
                                                src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js&ip={{.Ip}}"></script>
                                        <script type="text/javascript">
                                            $("#{{.SessionId}}").text(remote_ip_info.country + remote_ip_info.province + remote_ip_info.city + remote_ip_info.district)</script>
                                        {{end}}
                                    </td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                    <div id="page" class="page"></div>
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootbox.min.js"></script>
<script src="/js/jquery.metisMenu.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/easykoo.js"></script>

<script>
    var pageNo = parseInt('{{.Response.Visit.GetPageNo}}');
    var totalPage = parseInt('{{.Response.Visit.GetTotalPage}}');

    $(document).ready(function () {
        $('#dashboard').css({"background": "#DDDDDD"});
        $('#dataTable').dataTable();

        setupPage($('#page'), pageNo, totalPage);
    });

</script>

</body>
</html>
