<footer>
    <div class="row">
        <div class="col-lg-12">
        <h5>{{tsl .Session.Lang "label.friend.links"}}</h5>
        </div>
        <div class="col-lg-12">
    	{{with .DbUtil.GetAllLinks}}
    	{{range .}}
        	<a href="{{.Url}}" target="_blank">{{.Description}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    	{{end}}
    	{{end}}
    	</div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <div class="row gray">
        <div class="col-lg-6">
            <p>Copyright &copy; 2014 <a href="http://www.wangcheng.me">wangcheng.me</a>. All rights reserved.</p>
        </div>
        <div class="col-lg-6 text-right">
            <p>Powered by <a href="http://github.com/easykoo/go-blog">go-blog</a>.</p>
        </div>
    </div>
    <a id="goTop" href="#" class="label label-info hidden" title='{{tsl .Session.Lang "label.go.top"}}'><i class="fa fa-angle-double-up fa-4x"></i></a>
    <a id="goBottom" href="#" class="label label-info hidden" title='{{tsl .Session.Lang "label.go.bottom"}}'><i class="fa fa-angle-double-down fa-4x"></i></a>
</footer>