<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; <a href="http://www.easykoo.com">easykoo.com</a> 2014</p>
        </div>
    </div>
    <a id="goTop" href="#" class="label label-info hidden" title='{{tsl .Session.Lang "label.go.top"}}'><i class="fa fa-angle-double-up fa-4x"></i></a>
    <a id="goBottom" href="#" class="label label-info hidden" title='{{tsl .Session.Lang "label.go.bottom"}}'><i class="fa fa-angle-double-down fa-4x"></i></a>
</footer>